.main-div {
    max-width: 960px;

}

.tile {
    width: 20%;
    height: 20%;
    float: left;
}

.empty {
    background-color: aliceblue;
}

.food {
    background-color: red;
}

.snake {
    background-color: green;
}

.playground {
    width: 90%;
    height: 500px;
}
